<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karleinstein.fastpermissions">

    <application>
        <activity android:name=".FastPermissionActivity"
            android:theme="@style/Internal.Theme.Transparent"/>
    </application>

</manifest>
